# Django Settings
DEBUG=True
SECRET_KEY=tx!udfro9br9s=qelm1h7=z_dny$ee&=+cc1#+4v_m)ii=@#8)

# Database
# Example: postgres://user:password@localhost:5432/dbname
DATABASE_URL=sqlite:///db.sqlite3

# S3 Configuration
USE_S3=False
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=us-east-1
AWS_S3_CUSTOM_DOMAIN=your-bucket-name.s3.amazonaws.com
